* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h3 {
  text-align: center;
  margin: 2em;
}

h3 span {
  text-decoration: underline;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
